@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	overflow-x: hidden;
}
/*Navbar*/
.navbar{
	font-family: 'Poppins', sans-serif;
}

.navbar-brand{
	font-size: 32px;
}

.galleryView{
	background: #ebf0ef;
}

.judul{
	margin-top: 100px;
	font-size: 45px;
	font-family: Poppins;
}

#gallery{
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 1000px;
	height: 1000px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}


/*jumbotron*/
.jumbotron{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("img/toa-heftiba-LEoWU6PghAo-unsplash.jpg");
	background-size: cover;
	height: 640px;
	text-align: center;
}

.jumbotron {
	color: white;
	z-index: 100;
}

.tittle{
 	position: absolute;
  	left: 50%!important;
  	z-index: 10;
  	color: #fff;
  	text-align: center;
  	top: 40%!important;
  	transform: translate(-50%, -50%);
 	width: fit-content;
  	padding: 50px;
  	font-family: Balsamiq Sans;
}

.jumbotron .display-4{
  	font-weight: 500;
	text-shadow: 1px 1px 1px rgba(0,0,0,0,8);
	margin-bottom: 30px;
}

/*Footer*/
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

footer .column i + i {
  padding: 0 0.5em;
}
/*Desktop Version*/
@media (min-width: 992px) {
	.nav-link:hover::after{
	content: ''!important;
	display: block!important;
	border-bottom: 3px solid #b1f510!important;
	width: 50%!important;
	margin: auto!important;
	padding-bottom: 5px!important;
	margin-bottom: -8px!important;
}
	
.jumbotron{
	margin-top: -75px;
	}		
}
